@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

:root {
  --bg-color: #34495e;
  --fg-color: #95a5a6;

  --card-bg-color: #2c3e50;
  --card-red-bg-color: #e74c3c;
  --card-blue-bg-color: #3498db;
  --card-yellow-bg-color: #f39c12;
  --card-black-bg-color: #7f8c8d;

  --unit: 8px;
  --gap: calc(var(--unit) * 2);
}

html,
body {
  background: var(--bg-color);
  border: 0;
  color: var(--fg-color);
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  padding: var(--gap) var(--gap) 0;
}

h1 {
  font-size: calc(var(--unit) * 2);
  margin: 0;
}

main {
  box-sizing: border-box;
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  padding: var(--gap);
}

.card {
  align-items: center;
  background: var(--card-bg-color);
  border: var(--unit) transparent solid;
  border-radius: var(--unit);
  box-sizing: border-box;
  color: var(--fg-color);
  display: flex;
  font-size: calc(var(--unit) * 3);
  font-weight: 500;
  justify-content: center;
  padding: calc(var(--unit) * 2);
}

.card:focus {
  border-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.card.red,
.card.blue,
.card.yellow,
.card.black {
  color: rgba(0, 0, 0, 0.4);
}

.card.red {
  background: var(--card-red-bg-color);
}

.card.blue {
  background: var(--card-blue-bg-color);
}

.card.yellow {
  background: var(--card-yellow-bg-color);
}

.card.black {
  background: var(--card-black-bg-color);
}

footer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: calc(var(--unit) * 2);
  justify-content: flex-end;
  padding: 0 var(--gap) var(--gap);
}

.turn {
  margin-right: auto;
}

.score {
  align-items: center;
  border-radius: calc(var(--unit) / 2);
  color: #FFF;
  display: flex;
  margin-left: var(--unit);
  padding: var(--unit);
}

.score.red {
  background: var(--card-red-bg-color);
}

.score.blue {
  background: var(--card-blue-bg-color);
}
