@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

:root {
  --bg-color: #34495e;
  --card-bg-color: #2c3e50;
  --card-fg-color: #95a5a6;
  --unit: 8px;
}

html,
body {
  background: var(--bg-color);
  border: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  --gap: calc(var(--unit) * 2);

  box-sizing: border-box;
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  padding: var(--gap);
}

.card {
  align-items: center;
  background: var(--card-bg-color);
  border-radius: var(--unit);
  color: var(--card-fg-color);
  display: flex;
  font-size: calc(var(--unit) * 3);
  font-weight: 500;
  justify-content: center;
  padding: calc(var(--unit) * 2);
}
