@import 'const/dimensions';
@import 'const/mixins';
@import 'const/colors';
@import 'const/fonts';

html,
body {
  @include set-colors($body-colors);
  @include set-font($body-font);
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  @import 'components/input';
}

button:not(.card) {
  @import 'components/button';
}

header {
  @import 'components/header';
}

footer {
  @import 'components/footer';
}

.init {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .session-picker {
    @import 'components/session-picker';
  }
}

.game {
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: grid;
  flex-grow: 1;
  flex-shrink: 0;
  grid-gap: $unit;
  grid-template-columns: repeat(5, 1fr);
  min-height: calc(100% - #{$header-height} - #{$footer-height});
  padding: $unit;
  width: 100%;
}

.card {
  @import 'components/card';
}