@import 'const/dimensions';
@import 'const/colors';
@import 'const/fonts';

@import 'mixins/mixins';
@import 'mixins/bar';

html,
body {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: map-get($bar-colors, background);
}

body {
  @include set-font($body-font);
  @include set-colors($body-colors);
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-width: 680px;
}

input {
  @import 'components/input';
}

header {
  @import 'components/header';
}

main {
  flex-grow: 1;

  &.home {
    @import 'views/home';
  }

  &.game {
    @import 'views/game';
  }
}

footer {
  @import 'components/footer';
}
