@import 'const/mixins';
@import 'const/colors';
@import 'const/dimensions';
@import 'const/fonts';

html,
body {
  @include set-colors($body-colors);
  @include set-font($body-font);
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

input[type=text] {
  @import 'components/input';
}

button {
  @import 'components/button';
}

.init {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .session-picker {
    @import 'components/session-picker';
  }
}

.game {
  align-content: stretch;
  box-sizing: border-box;
  display: grid;
  grid-gap: $unit;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  padding: $unit;
  width: 100%;
}

.card {
  @import 'components/card';
}