@import '../resources/colors';
@import '../resources/fonts';

:host {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content repeat(5, 1fr);
  height: 100%;

  &.red h1 {
    color: $red;

    &:hover {
      color: $dark-red;
    }
  }

  &.blue h1 {
    color: $blue;

    &:hover {
      color: $dark-blue;
    }
  }
}

header {
  align-items: center;
  background: $darker-gray;
  display: flex;
  font-size: 16px;
  grid-column: 1 / -1;
  height: min-content;
  line-height: 16px;
  padding: 2vmin 2vmin calc(2vmin - 4px);

  h1 {
    color: $accent-color;
    font: 16px $heading-font-family;
    line-height: 16px;
    margin: 0;
    transition: color 0.3s linear 0s;

    &:hover {
      color: $dark-accent-color;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .session-name {
    margin-right: auto;
    margin-left: 8px;
  }

  .cards-left-message {
    &.red {
      color: $red;
      margin-right: 16px;
    }

    &.blue {
      color: $blue;
      margin-right: auto;
    }
  }

  button {
    margin-left: 8px;
  }
}
