@import 'resources/colors';
@import 'resources/fonts';

html,
body {
  background: $dark-gray;
  border: 0;
  color: $white;
  font: 3vmin $body-font-family;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  align-items: center;
  background: none;
  border: 0;
  color: $white;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  outline: none;
}
