@import '../resources/colors';
@import '../resources/fonts';

// Random accent color for the homepage.
//
// This will change every time the server restarts.
$accent-color: $blue;
@if (random() > 0.5) {
  $accent-color: $red;
}

:host {
  display: flex;
  height: 100%;
  width: 100%;

  @media (max-width: 850px) {
    flex-direction: column;

    header {
      min-height: 50%;
      width: 100%;
    }

    header,
    main {
      height: max-content;
    }
  }
}

header,
main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 4vmin;
}

header {
  align-items: center;
  background: $gray;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 40%;

  h1 {
    color: $accent-color;
    font: 8vmin $heading-font-family;
    margin: 0;
  }

  button {
    &:active,
    &:focus,
    &:hover {
      color: $accent-color;
    }
  }
}

form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 60vmin;

  input {
    background: $dark-gray;
    border: 0;
    box-sizing: border-box;
    color: $white;
    font: inherit;
    margin-bottom: 1vmin;
    outline: none;
    padding: 2vmin;
    text-align: center;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background: $darker-gray;
    }
  }
}

main {
  flex-grow: 1;

  h2 {
    color: $white;
    font: 4vmin $heading-font-family;
    margin: 0;
  }

  ol {
    margin-bottom: 8vmin;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  button {
    padding: 1vmin 2vmin;
    margin: 1vmin 1vmin 0 0;

    &.blue {
      background: $blue;

      &:hover,
      &:active,
      &:focus {
        background: $dark-blue;
      }
    }

    &.red {
      background: $red;

      &:hover,
      &:active,
      &:focus {
        background: $dark-red;
      }
    }
  }
}
