& {
  @include set-colors($card-colors);
  @include set-font($card-font);
  align-items: center;
  border-radius: $unit / 2;
  border-style: solid;
  border-width: $unit / 2;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: $unit;
  transition: all 0.1s linear 0s;
}

&.flipped {
  @include set-colors($card-neutral-colors);
  pointer-events: none;

  &.spymaster {
    opacity: .2;
  }
}

&.red {
  @include set-colors($card-red-colors);
}

&.blue {
  @include set-colors($card-blue-colors);
}

&.death {
  @include set-colors($card-death-colors);
}

&.neutral {
  @include set-colors($card-neutral-colors);
}

@media (max-width: 1050px) {
  & {
    font-size: 1.5rem;
  }
}

@media (max-width: 860px) {
  & {
    font-size: 1rem;
  }
}

@media (max-width: 770px) {
  & {
    padding: 0;
    font-size: .7rem;
    border-width: $unit / 4;
  }
}
