& {
  @include set-colors($header-colors);
  @include box-shadow($unit, .2);
  align-items: center;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
  display: flex;
  flex-shrink: 0;
  height: $footer-height;
  padding: 0 $unit * 2;
  transition: height $transition;

  &.hidden {
    overflow: hidden;
    height: 0;
  }
}

.starting-team {
  font-weight: 700;

  &.red {
    color: map-get($card-red-colors, background);
  }

  &.blue {
    color: map-get($card-blue-colors, background);
  }
}

.words-left {
  $height: $unit * 2;
  align-items: center;
  border-radius: $height / 2;
  display: flex;
  height: $height;
  padding: 0 $unit;

  &.red {
    @include set-colors($card-red-colors);
    margin-left: auto;
    margin-right: $unit;
  }

  &.blue {
    @include set-colors($card-blue-colors);
  }
}
