& {
  @include bar;
  border-top: $border;
  transition: height $transition;

  &.hidden {
    overflow: hidden;
    height: 0;
  }
}

.starting-team {
  font-weight: 700;

  &.red {
    color: map-get($card-red-colors, background);
  }

  &.blue {
    color: map-get($card-blue-colors, background);
  }
}

.words-left {
  $height: $unit * 2;
  align-items: center;
  border-radius: $height / 2;
  display: flex;
  height: $height;
  padding: 0 $unit;

  &.red {
    @include set-colors($card-red-colors);
    margin-left: auto;
    margin-right: $unit;
  }

  &.blue {
    @include set-colors($card-blue-colors);
  }
}

@media (max-width: 500px) {
  & {
    grid-gap: $unit / 3;
    font-size: $unit * 3 / 4;
  }
}