& {
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: grid;
  flex-grow: 1;
  flex-shrink: 0;
  grid-gap: $unit;
  grid-template-columns: repeat(5, 1fr);
  min-height: calc(100% - #{$bar-height * 2});
  padding: $unit;
  width: 100%;
}
