& {
  @include set-colors($header-colors);
  @include box-shadow($unit * 4, .6);
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: $header-height;
  padding: 0 $unit * 2;
}

h1 {
  @include set-font($header-font);
  margin: 0;
  padding: 0;
}
