& {
  @include bar;
  border-top: $border;
}

h1 {
  @include set-font($header-font);
  margin: 0;
  padding: 0;

  a {
    @include set-colors($h1-colors);
    outline: none;
    text-decoration: none;
    transition: all $transition;
  }
}

.view-toggle {
  margin-left: auto;
}

.reset {
  margin-left: $unit / 2;
}
