$_theme: (
  bg-color: #34495e,
  fg-color: #ecf0f1,
  error-color: lighten(#E74C3C, 20%),
  accent-color: #2d4051,
  card-red-color: #E74C3C,
  card-blue-color: #3498DB,
  card-death-color: #545455,
  card-neutral-color: #f39c12
);

$body-colors: (
  background: map-get($_theme, bg-color),
  color: map-get($_theme, fg-color)
);

$dialog-colors: (
  background: rgba(darken(map-get($_theme, bg-color), 20%), .8)
);

$error-colors: (
  color: map-get($_theme, error-color)
);

$title-colors: (
  color: desaturate(lighten(map-get($_theme, bg-color), 30%), 10%),

  hover-state: (
    color: desaturate(lighten(map-get($_theme, bg-color), 40%), 10%)
  ),

  focus-state: (
    color: desaturate(lighten(map-get($_theme, bg-color), 40%), 10%)
  )
);

$bar-colors: (
  background: darken(map-get($_theme, bg-color), 5%),
  color: desaturate(lighten(map-get($_theme, bg-color), 30%), 10%),
  border-color: darken(map-get($_theme, bg-color), 10%)
);

$card-colors: (
  background: lighten(map-get($_theme, bg-color), 10%),
  color: map-get($_theme, fg-color),
  border-color: transparent,

  hover-state: (
    border-color: lighten(map-get($_theme, bg-color), 5%)
  ),

  focus-state: (
    border-color: lighten(map-get($_theme, bg-color), 2%)
  )
);


$card-red-colors: (
  background: map-get($_theme, card-red-color),
  color: lighten(map-get($_theme, card-red-color), 30%),

  hover-state: (
    border-color: darken(map-get($_theme, card-red-color), 5%)
  ),

  focus-state: (
    border-color: darken(map-get($_theme, card-red-color), 2%)
  )
);

$card-blue-colors: (
  background: map-get($_theme, card-blue-color),
  color: lighten(map-get($_theme, card-blue-color), 30%),

  hover-state: (
    border-color: darken(map-get($_theme, card-blue-color), 5%)
  ),

  focus-state: (
    border-color: darken(map-get($_theme, card-blue-color), 2%)
  )
);

$card-death-colors: (
  background: map-get($_theme, card-death-color),
  color: lighten(map-get($_theme, card-death-color), 30%),

  hover-state: (
    border-color: darken(map-get($_theme, card-death-color), 5%)
  ),

  focus-state: (
    border-color: darken(map-get($_theme, card-death-color), 2%)
  )
);

$card-neutral-colors: (
  background: map-get($_theme, card-neutral-color),
  color: lighten(map-get($_theme, card-neutral-color), 30%),

  hover-state: (
    border-color: darken(map-get($_theme, card-neutral-color), 5%)
  ),

  focus-state: (
    border-color: darken(map-get($_theme, card-neutral-color), 2%)
  )
);

$input-text-colors: (
  background: lighten(map-get($_theme, bg-color), 10%),
  color: map-get($_theme, fg-color)
);

$input-button-colors: (
  background: map-get($_theme, accent-color),
  color: map-get($_theme, fg-color),

  hover-state: (
    background: darken(map-get($_theme, accent-color), 5%)
  ),

  focus-state: (
    background: darken(map-get($_theme, accent-color), 10%)
  )
);
