$_theme: (
  bg-color: #34495e,
  fg-color: #ecf0f1,
  accent-color: #16a085,
  card-red-color: #E74C3C,
  card-blue-color: #3498DB,
  card-death-color: #2C3E50,
  card-neutral-color: #f39c12
);

$body-colors: (
  background: map-get($_theme, bg-color),
  color: map-get($_theme, fg-color)
);

$header-colors: (
  background: darken(map-get($_theme, bg-color), 5%),
  color: desaturate(lighten(map-get($_theme, bg-color), 30%), 10%)
);

$input-colors: (
  background: lighten(map-get($_theme, bg-color), 10%),
  color: map-get($_theme, fg-color)
);

$button-colors: (
  background: map-get($_theme, accent-color),
  color: map-get($_theme, fg-color),

  hover-state: (
    background: darken(map-get($_theme, accent-color), 2%)
  )
);

$card-colors: (
  background: lighten(map-get($_theme, bg-color), 10%),
  color: map-get($_theme, fg-color),
  border-color: transparent,

  hover-state: (
    border-color: lighten(map-get($_theme, bg-color), 5%)
  ),

  focus-state: (
    border-color: lighten(map-get($_theme, bg-color), 2%)
  )
);

$card-red-colors: (
  background: map-get($_theme, card-red-color),
  color: lighten(map-get($_theme, card-red-color), 30%),

  hover-state: (
    border-color: transparent
  ),

  focus-state: (
    border-color: transparent
  )
);

$card-blue-colors: (
  background: map-get($_theme, card-blue-color),
  color: lighten(map-get($_theme, card-blue-color), 30%),

  hover-state: (
    border-color: transparent
  ),

  focus-state: (
    border-color: transparent
  )
);

$card-death-colors: (
  background: map-get($_theme, card-death-color),
  color: lighten(map-get($_theme, card-death-color), 30%),

  hover-state: (
    border-color: transparent
  ),

  focus-state: (
    border-color: transparent
  )
);

$card-neutral-colors: (
  background: map-get($_theme, card-neutral-color),
  color: lighten(map-get($_theme, card-neutral-color), 30%),

  hover-state: (
    border-color: transparent
  ),

  focus-state: (
    border-color: transparent
  )
);

@mixin set-colors($color-map) {
  $properties: ('background', 'color', 'border-color');
  @include set-properties($color-map, $properties);
}
