$_theme: (
  bg-color: #033649,
  fg-color: #E8DDCB,
  accent-color: #036564,
  card-neutral-color: #6298AC
);

$body-colors: (
  background: map-get($_theme, bg-color),
  color: map-get($_theme, fg-color)
);

$input-colors: (
  background: lighten(map-get($_theme, bg-color), 10%),
  color: map-get($_theme, fg-color)
);

$button-colors: (
  background: map-get($_theme, accent-color),
  color: map-get($_theme, fg-color),

  hover-state: (
    background: darken(map-get($_theme, accent-color), 2%)
  )
);

$card-colors: (
  background: lighten(map-get($_theme, bg-color), 10%),
  color: map-get($_theme, fg-color),
  border-color: transparent,

  hover-state: (
    border-color: lighten(map-get($_theme, bg-color), 5%)
  ),

  focus-state: (
    border-color: lighten(map-get($_theme, bg-color), 2%)
  )
);

$card-neutral-colors: (
  background: map-get($_theme, card-neutral-color)
);

@mixin set-colors($color-map) {
  $properties: ('background', 'color', 'border-color');
  @include set-properties($color-map, $properties);
}
