@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$_font-family: 'Raleway', sans-serif;

$body-font: (
  font-family: $_font-family,
  font-size: $unit,
  font-weight: 400
);

$input-font: (
  font-family: $_font-family,
  font-size: $unit,
  font-weight: 700
);

@mixin set-font($font-map) {
  $properties: ('font-family', 'font-size', 'font-weight');
  @include set-properties($font-map, $properties);
}
