@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

$_font-family: 'Oxygen', sans-serif;

$body-font: (
  font-family: $_font-family,
  font-size: $unit,
  font-weight: 400
);

$input-font: (
  font-family: $_font-family,
  font-size: $unit,
  font-weight: 400
);
