$transition: .1s linear 0s;
$border: 1px rgba(0, 0, 0, 0.1) solid;
$box-shadow: 0 0 $unit rgba(0, 0, 0, .2);

/* Shared syling between the header and the footer. */
@mixin bar {
  @include set-colors($header-colors);
  align-items: center;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: $bar-height;
  padding: 0 $unit * 2;
}

@mixin set-properties($map, $properties) {
  @each $property in $properties {
    @if map-has-key($map, $property) {
      #{$property}: map-get($map, $property);
    }
  }

  $states: ('hover', 'focus');
  @each $state in $states {
    @if map-has-key($map, #{$state}-state) {
      &:#{$state} {
        @include set-properties(map-get($map, #{$state}-state), $properties);
      }
    }
  }
}
