$darker-gray: #1c1c2a;
$dark-gray: #262638;
$gray: #34344a;
$light-gray: #4e5973;

$white: #fff;
$red: #c7304b;
$dark-red: #9f1b33;

$blue: #06acd0;
$dark-blue: #0091b1;

$black: #0b0b0f;
$dark-black: #000;
