main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: $unit;
  grid-row-gap: $unit;
  box-sizing: border-box;
  padding: $unit;
}

.card {
  @import 'components/card';
}

.starting-team b.red {
  color: map-get($card-red-colors, background);
}

.starting-team b.blue {
  color: map-get($card-blue-colors, background);
}
