$_error-height: $unit * 2;

& {
  align-items: center;
  display: flex;
  justify-content: center;
}

input[type=text] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: $unit * 15;
}

input[type=submit] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: $unit * 9;
}

form.error span.error {
  height: $_error-height;
}

span.error {
  @include set-colors($error-colors);
  display: flex;
  height: 0;
  line-height: $_error-height;
  overflow: hidden;
  padding: 0 $unit;
  position: absolute;
}
